<!DOCTYPE html>
<html>

<head>
  <title>Email Invitation</title>
</head>

<body>
  <p>Hello {{name}},</p>
  <p>You have been invited to join the board. Click the link below to accept the invitation:</p>
  <a href="http://localhost:3000/app/board/invitation/accept?invite={{invitationLink}}">Accept Invitation</a>
</body>

</html>